html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{title}
        script(src="login_callback_hanlder.js") 
        script.
         init_callback(!{JSON.stringify(queries)}) 
    body 
        h2 Hello from login callback!
        button(onclick="window.location=`/`") Main Page 
        button(onclick="init_logout()") Logout 

